<!DOCTYPE html>
<html lang="en">
  <head>
    <title> ToDo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My lists</h1>
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Number of Items</th>
              </tr>
            </thead>
            <tbody>
              {% for list in todo_list_list %}
              <tr>
                  <td>{{ list.name }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </body>
    </html>
